body {
    /* background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg'); */
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
}

.menu {
    background-color: white;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

a {
    color: teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
}

.site-subtitle {
    font-style: italic;
}

input {
    text-align: center;
}

.display-none {
    display: none;
}
.span-result {
    /* display: none; */
    display: block;
}

/* Removing spinner input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type=number] {
    width: 50px;
    /* height: 30px; */
    /* padding: 0 5px; */
}
